@font-face {
    font-family: "Nexa";
    src: url(fontes/Nexa-ExtraLight.ttf);format:("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(to right, #800400, #E60600);
    margin: 0;
    padding: 0;
}
.titulo {
    text-align: center;
    font-family: "Nexa";
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;              /* Agora se adapta à tela */
    max-width: 850px;        /* Mantém o limite no PC */
    margin: 20px auto;
    background-color: #f8605b8c;
    box-shadow: 2px 2px 2px 4px #800400;
    padding: 10px;           /* Evita o texto colado na borda */
}

/* Responsivo no celular */
@media(max-width: 600px) {
    .titulo h1 {
        font-size: 20px;     /* Título menor para caber bem */
        line-height: 1.3;
    }
}

.imagens {
    width: 100%;
    max-width: 600px;
    height: auto;
    text-align: center;
    margin: 50px auto 0 auto;
}

.imagens img {
    width: 100%;
    max-width: 350px;   /* tamanho limite no PC */
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Responsividade para celulares */
@media(max-width: 600px) {
    .imagens img {
        width: 90%;       /* ocupa a largura do celular */
        max-width: 300px;
    }

    
}

